<p id="notice"><%= notice %></p>

<p>
  <strong>Nauto:</strong>
  <%= @auto.nauto %>
</p>

<p>
  <strong>Reg auto:</strong>
  <%= @auto.reg_auto %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
