<%= simple_form_for(@hub) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :path %>
  </div>

  <%= f.collection_check_boxes :hub_page_ids, HubPage.all, :id, :name %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
